.delimitador {
	width: 80%;
	margin: auto;

}

.contenedor {

	height: 0px;
	width: 100%;


     max-width: 100%;
	padding-top: 56.25%;
	position: relative;

}

.hg{
padding-left: 10px;
padding-bottom: 10px;
padding-top: 10px;
padding-right: 10px;

}


iframe {
position: absolute;
height: 100%;
width: 100%;
top: 0px;
left: 0px;
}


